@model Spice.Models.ViewModels.SubCategoryAndCategoryViewModel

@using Spice.Extensions
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Delete Sub Category</h2>
<br />

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="border backgroundWhite row">
    <div class="col-8 border-right">
        <form method="post" asp-action="Delete">
            <div class="form-group row">
                <div class="col-3">
                    <label class="col-form-label" asp-for="SubCategory.Category.Name">Category</label>
                </div>
                <div class="col-5">

                    <input asp-for="SubCategory.Category.Name" readonly class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label class="col-form-label" asp-for="SubCategory.Name"></label>
                </div>
                <div class="col-5">

                    <input asp-for="SubCategory.Name" readonly class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-5 offset-3">
                    <partial name="_DeleteAndBackToListButton" model="Model.SubCategory.Id" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-3 offset-1">
        @if (Model.SubCategoryList.Count() > 0)
        {
            <p>Existing Sub Categories</p>

            <div id="SubCategoryList">
                <ul class="list-group">
                    @foreach (var subCategoryName in Model.SubCategoryList.ToList())
                    {
                        if (subCategoryName == Model.SubCategory.Name)
                        {
                            <li class="list-group-item active">@subCategoryName</li>
                        }
                        else
                        {
                            <li class="list-group-item">@subCategoryName</li>
                        }
                    }
                </ul>
            </div>

        }
    </div>

</div>
